<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Yadex205 portfolio</title>

    <link href="/css/main.css" rel="stylesheet" />
    <script src="/js/main.js"></script>
  </head>
  <body></body>
</html>
