<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Yadex205 portfolio</title>

    <link href="/css/main.css" rel="stylesheet" />

    <script src="//platform.twitter.com/widgets.js" id="twitter-wjs"></script>
    <script src="/vendor/p5/p5.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <h1>www.yadex205.info</h1>
    <h2>VJ Schedule</h2>
    <a class="twitter-timeline"
       href="https://twitter.com/search?q=%23%E4%BB%8A%E5%BE%8C%E3%81%AEVJ%E4%BA%88%E5%AE%9A%20from%3Ayadex205_vj"
       data-widget-id="930320376239874048"
       data-dnt="true"
       data-tweet-limit="1"
       data-chrome="noheader nofooter noborders noscrollbar transparent">
      View my schedule on Twitter
    </a>
    <h2>Works</h2>
    <h3>Website</h3>
    <ul>
      <li>http://threeforflavin.com</li>
      <li>http://remi-star.com</li>
    </ul>
    <h2>About</h2>
    <dl>
      <dt>Name</dt>
      <dd>Yadex205, Kanon Kakuno</dd>
    </dl>
  </body>
</html>
