$color-fg: #ccc;
$color-bg: #222;

body {
  margin: 24px;
  background-color: $color-bg;
  color: $color-fg;
  font-family: 'Helvetica Neue Condensed Bold', 'Impact', sans-serif;
}

a {
  color: inherit;
}

h1,
h2 {
  text-transform: uppercase;
}
